#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.lista {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.active {
  color: red;
}