#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: rgb(28, 13, 54);
}


.tarjeta {
  width: 50%;
  background-color: white;
  border-radius: 10px;
}